{% extends "crud/base.html" %}
{% block content %}
<div class="login-container">

    <h2>Iniciar Sesión</h2>

    {% if error %}
        <div class="error-message">{{ error }}</div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Contraseña</label>
        <input type="password" name="password" required>

        <button type="submit" class="login-btn">Ingresar</button>
    </form>

    <a href="{% url 'registro' %}" class="register-link">
        ¿No tienes cuenta? Regístrate aquí
    </a>

</div>

{% endblock %}